.mint-swipe-indicators {
    margin-bottom: -0.12rem;
}

.mint-swipe-indicator {
    margin-bottom: -0.12rem;
}

.mint-indicator-spin {
    display: block;
}

.mint-spinner-fading-circle {
    margin: 0 auto;
}